<? INC Header.tmpl ?>

			<div class="panel panel-danger">
				<div class="panel-heading">Error!</div>
					<div class="panel-body">
						 <? VAR Error ?>
					</div>
	</div>
</div>

<? INC Footer.tmpl ?>
