</section>
</div>
  </div>
    </div>

<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">About Us</h3>
                <ul class="list-unstyled three_cols">
		<p>We are a free IRC Bouncer (BNC) provider originally provided for users of PanicIRC, but have expanded to allow use on other networks, we currently have 12 servers in 8 different countries that include: Australia, France, Germany, Japan, The Netherlands, Singapore, The United Kingdom, and The United States. With having servers in 8 different countries, we can guarantee that we'll provide a smooth and stable service with low latency.
		</p>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">
                                    <div id="twitter-widget">
                                        <a class="twitter-timeline" data-tweet-limit="3" data-chrome="transparent noborders nofooter" data-dnt="true" href="https://twitter.com/PanicBNC" data-widget-id="536984710204112898">Tweets by @PanicBNC</a>
                                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                                        <div class="clearfix"></div>
                                    </div>

                </div>
</h3>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Donate</h3>
                    <div class="row">
										<center>
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="KDR7KWACYVD8E">
										<button class="button button-highlight button-large" border="0" name="submit"><i class="fa fa-money"></i> Donate</button>
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
										</form></center>
<br>


<center>
<img src="https://PanicBNC.net/assets/img/cc.png" height="31" width="194">
</center>

                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; <a href="https://PanicBNC.net">PanicBNC</a> & <a href="http://Shadow-Dev.org">Shadow-Dev</a> 2011-2015 &middot; <a href="https://PanicBNC.net/Privacy-Policy"><i class="icon-legal"></i> Privacy</a> &middot; <a href="https://PanicBNC.net/Terms-of-Service"><i class="icon-legal"></i> Terms</a> &middot; <a href="https://PanicBNCStat.us"><i class="icon-signal"></i> Status</a>
</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right">

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="https://PanicBNC.net/">Home</a></li>
        <li><a href="https://PanicBNC.net/Premium">Premium</a></li>
        <li><a href="https://PanicBNC.net/About-Us">About us</a></li>
        <li><a href="https://PanicBNC.net/Request" class="active">Request</a></li>
        <li><a href="https://PanicBNC.net/Contact">Contact</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="http://New.PanicBNC.net/rss" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
        <a href="https://Facebook.com/PanicBNC" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://Twitter.Com/PanicBNC" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="http://News.PanicBNC.net" class="social-icon-ar tumblr"><i class="fa fa-tumblr"></i></a>
        <a href="https://plus.google.com/share?url=https://PanicBNC.net" class="social-icon-ar google-plus"><i class="fa fa-google-plus"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>
</body>

</html>
