<? LOOP ErrorLoop ?>
	<div class="container">
				<div class="alert alert-danger"><? VAR Message ?></div>
	</div>
<? ENDLOOP ?>
<? LOOP SuccessLoop ?>
	<div class="container">
				<div class="alert alert-info"><? VAR Message ?></div>
	</div>
<? ENDLOOP ?>
